*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetice neue';
  color: #ffff;

}
html,
body{
  height: 100%;
  width: 100 ;
}


body{
  background-color: black;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 2px solid rgb(250, 249, 248);
  padding: 20px;
  text-align: center;
  margin: 10px;
  border-radius:10px;
  background-color: #222;
  
}

.card img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0px;

}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}