*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: white; */
}


html, body{
  height: 100%;
  width: 100%;
  background-color: #111;

}


.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

}

.card {
  height: 330px;
  width: 280px;
  background-color: #ffff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;

}

.top button{
  display:  flex;
  align-items: center;
  border: 1px solid #202020;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #706f6f;
}


.center h3{
  font-size: 17px;
  font-weight: 500;

}

.center h2{
  font-size: 20px;

}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}


.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 3px;


}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid rgb(192, 192, 192);
  padding-top: 15px ;

}
.bottom button{
  background-color: black;
  padding: 5px 10px;
  color: #dadada;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;

}

.bottom p{
  font-size: 10px;
  color: #dadada;
}